@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: var(--primary-font);
}

#root {
  height: 100%;
  width: 100%;
}

@layer components {
  .wrapper {
    @apply max-w-[1440px] min-w-[300px];
  }

  .primaryCol {
    @apply bg-red-500;
  }

  .flxCenter {
    @apply flex justify-center;
  }
  .itemsCenter {
    @apply flex items-center;
  }
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1526738549149-8e07eca6c147?q=80&w=1325&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: bottom;
  background-size: cover;
}

.sideNav.active {
  transform: translateX(0);
}

.sideNav {
  transition: transform 0.5s ease;
}

.hero_header_slider div {
  display: flex;
  width: 22%;
}

@media only screen and (min-device-width: 420px) {
  .hero_header_slider {
    overflow: hidden;
  }
  .hero_header_slider div {
    width: 100%;
  }
}
img {
  object-fit: cover;
}

i {
  cursor: pointer;
}
